{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}
{% block main %}
<div class="container">
    <p class="text-center h3 mx-1 mx-md-4" style="color: #0D6EFD">Dashboard</p>
    <hr>
    <div class="card">
        <div class="card-body">
            <table class="table align-middle" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width:40%">Equipment</th>
                        <th style="width:50%">Details</th>
                        <th class="text-center" style="width:10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipment in user_equipments %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('main.get_image', image_id=equipment.def_img_id) }}" width="100%" height="100%" alt="">
                                </div>
                                <div class="col-md-8 d-flex align-items-center">
                                    <p class="level1"><span style="color:#0D6EFD">{{ equipment.sub_category }}</span><br> {{ equipment.brand }}<br> {{ equipment.model }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <p class="level2">
                                    <i class="fa-solid fa-dollar-sign fa-lg"></i>&ensp;{{ equipment.hourly_rate }}/hr&emsp;<i class="fa-solid fa-lock-open fa-lg"></i>&ensp;Advance - {{ equipment.advance }} hours &emsp;
                                    <i class="fa-regular fa-clock fa-lg"></i>&ensp;{{ equipment.duration }}&emsp;<i class="fa-solid fa-location-dot fa-lg"></i>&ensp;{{ equipment.location }}<br><br>
                                    <i class="fa-solid fa-gas-pump fa-lg"></i>&ensp;{{equipment.fuel_type}}&emsp;<i class="fa-regular fa-calendar fa-lg"></i>&ensp;Mfg. Year - {{ equipment.year}}&emsp;
                                    <i class="fa-solid fa-battery-half fa-lg">&ensp;</i>&ensp;Power - {{equipment.hp}}HP&emsp;
                                    {% if equipment.status == 'Available'%}
                                    <img src="https://img.shields.io/badge/status-available-2ea44f" alt="status - available">
                                    {% else %}
                                    <img src ="https://img.shields.io/badge/status-unavailable-EE2E24" alt="status - unavailable">
                                    {% endif %}
                                </p>
                            </div>
                        </td>
                        <td>
                            {% if g.user['id'] == equipment['owner_id'] %}
                            <a class="btn btn-primary btn-sm w-100 mb-4" href="{{ url_for('main.update', id=equipment['id']) }}">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}