{% extends "base.html" %}

{% block title %}
Register Equipment
{% endblock %}
{% block main %}
<div class="container">
  <p class="text-center h3 mx-1 mx-md-4" style="color: #0D6EFD">Register your Equipment</p>
  <hr>
  <form action="/eqregister" method="post">
    <div class="row d-flex justify-content-center mt-4">
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-6 order-2 order-lg-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="category" class="form-label greyish">Category</label>
                                    <select autofocus class="form-select eqrform" name="category" id="category">
                                        <option disabled selected value="">Select Category</option>
                                        {% for cat in CAT %}
                                        <option value="{{cat}}">{{cat}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">    
                                <div class="mb-3">
                                    <label for="sub_category" class="form-label greyish">Equipment Type</label>
                                    <select class="form-select eqrform" name="sub_category" id="sub_category">
                                        <option disabled selected value="">Select Equipment Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                            <label for="brand" class="form-label greyish">Brand</label>
                            <input autocomplete="on" class="form-control eqrform" id="brand" name="brand" placeholder="Brand" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                            <label for="model" class="form-label greyish">Model</label>
                            <input autocomplete="on" class="form-control eqrform" id="model" name="model" placeholder="Model" type="text">
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                            <label for="license_plate_no" class="form-label greyish">License Plate No</label>
                            <input autocomplete="on" class="form-control eqrform" id="license_plate_no" name="license_plate_no" placeholder="License Plate No" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                            <label for="fuel_type" class="form-label greyish">Fuel Type</label>
                            <select autofocus class="form-select eqrform" name="fuel_type" id="fuel_type">
                                <option disabled selected value="">Select Fuel Type</option>
                                {% for fuel_type in FUEL_TYPE %}
                                <option value="{{fuel_type}}">{{fuel_type}}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                            <label for="hp" class="form-label greyish">Engine Power</label>
                            <input autocomplete="on" class="form-control eqrform" id="hp" name="hp" placeholder="Engine Power" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                            <label for="year" class="form-label greyish">Mfg. Year</label>
                            <input autocomplete="on" class="form-control eqrform" id="year" name="year" placeholder="Mfg. Year" type="text">
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="hourly_rate" class="form-label greyish">Hourly Rate (ETB)</label>
                                    <input autocomplete="on" class="form-control eqrform" id="hourly_rate" name="hourly_rate" placeholder="Hourly Rate (ETB)" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="advance" class="form-label greyish">Advance Amount (hrs)</label>
                                    <input autocomplete="on" class="form-control eqrform" id="advance" name="advance" placeholder="Advance Amount (hrs)" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">    
                                <div class="mb-3">
                                    <label for="duration" class="form-label greyish">Duration Preference</label>
                                    <select autofocus class="form-select eqrform" name="duration" id="duration">
                                        <option disabled selected value="">Duration Preference</option>
                                        {% for dur in DUR %}
                                            <option value="{{dur}}">{{dur}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="location" class="form-label greyish">Location</label>
                                    <input autocomplete="on" class="form-control eqrform" id="location" name="location" placeholder="Location" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">    
                                <div class="mb-3">
                                    <label for="status" class="form-label greyish">Status</label>
                                    <select autofocus class="form-select eqrform" name="status" id="status">
                                        <option disabled selected value="">Select Status</option>
                                        {% for status in STATUS %}
                                            <option value="{{status}}">{{status}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                        <button class="btn btn-primary w-100" type="submit">Register</button>
                        </div>
                    </div>        
                    <div class="ccol-md-6 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">
                        <img class="img-fluid h-auto" src="{{ url_for('static', filename='images/hero_img.png')}}" alt="">
                    </div>
                </div>
            </div>
        </div>    
        
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
    let cat = document.getElementById('category');
    cat.addEventListener('change', async function() {
        let response = await fetch('/screturn?cat=' + cat.value);
        console.log(response)
        let subcats = await response.json()
        console.log('Responded Subcats: '+ subcats);
        let html = ''
        for (let i =0; i<subcats.length; i++) {
            console.log(subcats[i])
            html += '<option value="' + subcats[i] + '">' + subcats[i] + '</option>';
        }
        document.getElementById('sub_category').innerHTML = html;
    });
</script>
{% endblock %}