{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
  <!--Hero Section-->
  <section class="text-center text-md-start">
    <div class="d-sm-flex align-items-center justify-content-between">
        <div>
            <h1>Rent the <span class="text-warning">Best</span>, Build the <span class="text-warning">Best</span>.</h1>
            <p class="lead my-4">
                Find the right equipment for your job, in no time right from your desk.
            </p>
            <form action="{{ url_for('main.equipments') }}" method="get">
              <button type="submit" class="btn btn-primary">Rent Now</button>
            </form>
        </div>
        <img class="img-fluid w-75 d-none d-md-block" src="{{ url_for('static', filename='images/hero_img.png')}}" alt="">
    </div>
  </section>

  <!-- Equipment showcase section -->
  <section>
    <div class="mt-5 mb-3">
      <h2 class="bolder">Quality equipments, ready to go</h2>
    </div>
    <div class="showcase-link p-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Popular Equipments</a>
        </li>
      </ul>
    </div>
    <br>
    <div class="row g-4 pt-3">
      {% for subcat in popularsubcats %}
        {% for category, subcategories in CAT.items() %}
          {% if subcat in subcategories %}
            <div class="col-lg-3 col-md-6">
              <form onclick="submit()" action="/equipments_detail" method="POST" id="form-element">
                <div class="boxy">
                  <div class="title-container px-4 py-3">
                    <input type="text" name="category" readonly class="form-control-plaintext h6" id="cat" value="{{ category }}">
                    <input type="text" name="sub_category" readonly class="form-control-plaintext h5" id="sub-cat" value="{{ subcat }}">
                  </div>
                  <img src="{{ url_for('main.get_image', image_id=img_dict[subcat]) }}" width="100%" height="100%" alt="">
                </div>
              </form>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>   
  </section>
  <!-- Categories Section -->
  <section>
    <div class="mt-5 mb-3">
      <h2 class="bolder">Categories</h2>
    </div>
    <h3 class="mb-5">Browse the largest fleet in the industry</h3>
    <form onclick="submit()" action="" method="post" id="form-element">
      <div class="row d-flex justify-content-between">
        {% for cat in CAT %}
          <div class="col-md-2 boxy p-3 m-3">{{cat}}</div>
        {% endfor %}
      </div>
  </form>
  </section>
{% endblock %}
